*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --primary-color:#007bff;
    --secondary-color:#6c757d;
    --text-color:#212529;
    --background-color: #f8f9fa;
    --border-color: ;
}
